
#logo{
    width: 120px;
    background-color: #000706;
    border-radius: 10px;
    display: flex;
    margin-left: 1%;
   
}


#linkedin{
    font-size: 150%;
margin-left: 80%;
display: flex;
}
row{
    display: flex;
}
