
#logo{
    width: 150px;
    background-color: #3576E1;
    border-radius: 10px;
    display: flex;
   
}


#linkedin{
    font-size: 150%;
margin-left: 80%;
display: flex;
}
row{
    display: flex;
}
