<div class="row">
    <div class = "col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/melina.png" class="img-fluid" alt="" id="foto">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h3>Melina Theill</h3>
    <h6>Full Stack Developer Jr</h6>
    <h6>Abogada</h6>
    <h6>Escribana</h6>
</div>
<div class = "col -xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <div class="text-center"><h2 id="SobreMI">Sobre Mi</h2></div>
        
        <p id="soy">Abogada y escribana. Soy una persona con predisposición, que le gusta aprender y conformar un buen equipo de trabajo. Mis conocimientos, capacitaciones y aptitudes personales hacen que pueda desempeñarme de manera correcta en la tarea y puesto que se me asigne. Mi objetivo es continuar mi especialización  en el área de Ciberseguridad priorizando tratamiento de la vulnerabilidad de los datos. </p>
    </span>
</div>
</div>
