img {
    width: 433px;;
    height: 160.604px;

}

.row{
    padding: 20px;
}

h2 {
    text-align: center;
    padding-bottom: 5%;
}
p{
    text-align: center;
    
    margin-left: 10%;
}

.col{
    display: flex;
}