<div class="row" >
    <h2>Soft y Hard Skills</h2>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
[percent]="85"
[radius]="100"
[outerStrokeWidth]="10"
[innerStrokeWidth]="7"
[outerStrokeColor]="'#F05013'"
[innerStrokeColor]="'#ED9777'"
[animation]="true"
[animationDuration]="600"
[showImage]="true"
[imageSrc]= "'../../../assets/Html5.png'"
[imageWidth]="90"
[imageHeight]="90"
[title]="'HTML'"
[showSubtitle]="false"
[titleFontSize]="'30'"></circle-progress>

    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
[percent]="75"
[radius]="100"
[outerStrokeWidth]="10"
[innerStrokeWidth]="7"
[outerStrokeColor]="'#597FF5'"
[innerStrokeColor]="'#97AEF4'"
[animation]="true"
[animationDuration]="600"
[title]="'CSS'"
[showSubtitle]="false"
[titleFontSize]="'30'"
[showImage]="true"
[imageSrc]= "'../../../assets/css.png'"
[imageWidth]="90"
[imageHeight]="90"

>


</circle-progress>

    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
[percent]="75"
[radius]="100"
[outerStrokeWidth]="10"
[innerStrokeWidth]="7"
[outerStrokeColor]="'#EE8807'"
[innerStrokeColor]="'#EBB571'"
[animation]="true"
[animationDuration]="600"
[title]="'JAVA'"
[showSubtitle]="false"
[titleFontSize]="'30'"
[showImage]="true"
[imageSrc]= "'../../../assets/JAVA.png'"
[imageWidth]="90"
[imageHeight]="90"
></circle-progress>

    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
[percent]="85"
[radius]="100"
[outerStrokeWidth]="10"
[innerStrokeWidth]="7"
[outerStrokeColor]="'#08806c'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
[title]="'Empatia'"
[showSubtitle]="false"
[titleFontSize]="'30'"></circle-progress>

    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
[percent]="85"
[radius]="100"
[outerStrokeWidth]="10"
[innerStrokeWidth]="7"
[outerStrokeColor]="'#dc3545'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
[title]="'Proactividad'"
[showSubtitle]="false"
[titleFontSize]="'25'"></circle-progress>

    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress

[radius]="100"
[percent]="85"
[outerStrokeWidth]="10"
[innerStrokeWidth]="7"
[outerStrokeColor]="'#198754'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
[title]="'Comunicacion'"
[showSubtitle]="false"
[titleFontSize]="'25'"></circle-progress>

    </div>



</div>

   

